/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Size the image */
.display-3 {
    padding-bottom: 4rem;
}

p.image-wrap {
    height: 8rem;
    margin-bottom: 10px;
}

.image-wrap .logo {
    height: 80%;
    margin: 0 10px;
}

/* Size the search form*/
.form-search {
  max-width: 550px;
  padding: 10px;
  margin: 0 auto;
}
#searchbox {
    width: 60%;
    margin-left: 5%;
}
.btn-dark {
    color: white;
    background-color: #444;
}
.btn-dark:hover {
    color: white;
    background-color: #111;
}


/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 86rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
/*.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}*/
.form-inline .form-control {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.form-inline .form-control {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
}
