{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="pita" />

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/favicon-black.png' %}" />
    {% block head %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet" />
    <title>바이백 모아</title>
    {% endblock %}
  </head>

  <body>
    <div class="container">
      <header class="header clearfix">
        <a id="to-home" href="{% url 'index' %}"><h3 class="text-muted">바이백 모아</h3></a>
      </header>

      {% block main %}

      <main role="main">
        <div class="jumbotron">
          <h1 class="display-3">중고책 매입가 검색</h1>
          <p class="lead">현재 서비스 중인 온라인 서점</p>
          <p class="image-wrap">
            <img class="logo" src="{% static 'image/yes24_logo.png' %}" /><img class="logo" src="{% static 'image/aladin_logo.png' %}" />
          </p>
          <form class="form-search form-inline" method="GET" action="{% url 'result' %}" role="search">
            <input id="searchbox" class="form-control" type="text" name="searchword" placeholder="책 목, 저자, ISBN 등" value="{{ request.GET.searchword }}" required autofocus />
            <button type="submit" class="btn btn-dark">검색</button>
          </form>
          {% if advice %}<p>{{ advice }}</p>{% endif %}
        </div>
      </main>

      {% endblock %}

      <footer class="footer">
        <p>&copy; pitachips</p>
      </footer>

    </div> <!-- /container -->

  <!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- jQuery local fallback -->
  <script>window.jQuery || document.write('<script src="{% static 'jquery/jquery-3.2.1.min.js' %}"><\/script>')</script>
  <!-- Bootstrap JS CDN -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Bootstrap JS local fallback -->
  <script>if(typeof($.fn.modal) === 'undefined') {document.write('<script src="{% static 'bootstrap/bootstrap.min.js' %} }}"><\/script>')}</script>
  <!-- Bootstrap CSS local fallback -->
  <div id="bootstrapCssTest" class="hidden"></div>
  <script>
    $(function() {
      if ($('#bootstrapCssTest').is(':visible')) {
        $("head").prepend('<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">');
      }
    });
  </script>

  </body>
</html>


